# Virtual Environment
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# OS Metadata
.DS_Store
Thumbs.db

# Project Outputs & Input Data
outputs/
input_pdf/
images_from_pdf/
rag_feedback.json

# IDE Settings
.vscode/
.idea/

# Logs
*.log
