# Recommended Python Version: 3.11+
# Core API & Server
fastapi
uvicorn
python-multipart
pydantic
python-dotenv

# Database & AI
pymongo
openai
tiktoken
certifi

# PDF & Image Processing
pymupdf
ultralytics

opencv-python-headless

# AWS & Data Processing
boto3
botocore
amazon-textract-response-parser
pandas
openpyxl
